body {
  background-color: white;
  margin: 0 auto;
  color: #233D4D;
  font-family: 'Francois One', sans-serif;
  font-size: 18px;
  font-weight: bold; }

.card {
  color: #233D4D;
  background-color: #FFF0F5;
  font-family: 'Raleway', sans-serif; }

header, main, footer {
  display: block;
  box-sizing: border-box;
  margin-top: 10px;
  color: #233D4D !important; }

.navbar .navbar-light .bg-light {
  color: #233D4D; }

.navbar-light .navbar-brand, .navbar li a {
  color: #233D4D;
  text-transform: capitalize;
  font-family: "Dawning of a New Day", cursive;
  font-size: 35px; }

.navbar-brand li a {
  font-size: 35px; }

.middle {
  max-width: 400px;
  display: block;
  margin: 0 auto;
  align-content: center;
  text-align: center; }

.heading {
  color: #DB7093;
  font-size: 35px;
  font-weight: bold;
  font-family: "Dawning of a New Day", cursive;
  text-align: center;
  padding: 5px;
  margin: 0 auto; }

hr {
  display: block;
  border-top: 4px solid #455858;
  width: 60px;
  opacity: 1; }

.section {
  max-width: 700px;
  padding: 20px;
  text-align: center;
  display: block;
  margin: 0 auto; }

.section p {
  padding: 20px;
  text-align: justify; }

.white {
  background-color: #FFF0F5;
  color: inherit; }

.navbar-light .navbar-nav .nav-link {
  color: #DB7093; }

.navbar-light .navbar-nav .nav-link:hover {
  color: #233D4D; }

.card-img {
  width: 150px;
  padding-top: 5px;
  padding-right: 15px;
  float: left; }

.banner-img {
  display: block;
  margin: 0 auto; }

footer a {
  color: #DB7093;
  text-decoration: none; }

footer a:hover {
  color: #233D4D;
  text-decoration: underline; }

.btn {
  background-color: white;
  color: #DB7093;
  border: 2px solid #DB7093; }

.btn:hover {
  background-color: #DB7093;
  color: white;
  border: 2px solid #DB7093; }
