body {
  background-color: #323140;
  margin: 0 auto;
  color: #323140;
  font-family: 'Francois One', sans-serif;
  font-size: 24px;
  font-weight: bold; }

header, main, footer {
  display: block;
  overflow: hidden;
  box-sizing: border-box;
  margin-top: 10px;
  background-color: #F2F2F2;
  color: #323140 !important; }

.navbar .navbar-light .bg-light {
  color: #F2AA6B; }

.navbar-light .navbar-brand, .navbar li a {
  color: #8C7D70;
  text-transform: uppercase;
  font-size: 25px;
  /* border:4px solid #8C7D70; */ }

.middle {
  max-width: 400px;
  display: block;
  margin: 0 auto;
  align-content: center;
  text-align: center; }

.heading {
  font-size: 25px;
  font-weight: bold;
  font-family: monospace;
  text-align: center;
  padding: 5px;
  margin: 0 auto; }

hr {
  display: block;
  border-top: 4px solid black;
  width: 60px;
  opacity: 1; }

.section {
  max-width: 700px;
  padding: 20px;
  text-align: center;
  display: block;
  margin: 0 auto; }

.section p {
  padding: 20px;
  text-align: justify; }

.white {
  background-color: white;
  color: inherit; }
