/* The grid: Four equal columns that floats next to each other */
.column {
  float: left;
  box-sizing: border-box;
  padding: 10px; }

.column img {
  width: 100%; }

/* Style the images inside the grid */
.column img {
  opacity: 0.8;
  cursor: pointer; }

.card {
  overflow: hidden; }

.column img:hover {
  opacity: 1; }

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both; }

/* The expanding image container (positioning is needed to position the close button and the text) */
.container {
  position: relative;
  display: none; }

/* Expanding image text */
#imgtext {
  font-family: "Allerta Stencil", sans-serif;
  position: absolute;
  bottom: 15px;
  left: 15px;
  color: white;
  font-size: 35px; }

/* Closable button inside the image */
.closebtn {
  font-family: "Dawning of a New Day", cursive;
  position: absolute;
  top: 10px;
  right: 15px;
  color: white;
  font-size: 50px;
  cursor: pointer; }

.card {
  background-color: transparent;
  border-radius: 10px;
  border: 0; }
