$fonts-text: Tahoma, Helvetica, Arial, sans-serif;
$font-headings: 'Francois One', sans-serif;
$font-size:18px;

$current:#222F3F;
$heading-size:25px;
$border-size:3px;
// $foreground-color:#93BFA3;
$text-color: #233D4D;
$underline-color:#A1C181;
$heading-color:#FE7F2D;
$border-color:#579C87;
$background-color:#F2EFC4;
