$fonts-text: 'Raleway', sans-serif;
$font-headings: 'Francois One', sans-serif;
$font-size:18px;
$card-color:#F2B680;
$current:#222F3F;
$heading-size:35px;
$border-size:3px;
$foreground-color:#F2EFC8;
// $text-color: #233D4D;
$text-color: white;
$underline-color:#68D7D7;
$heading-color:#4D9E9E;
$border-color:#455858;
$background-color:white;

// $background-color:#F2EFC4;
