@import 'variables';

body{
  font-family: $fonts-text;
  background-color: $asphalt;
  color: $clouds;
  font-size: $text-font-size;
}
h1, h2, h3, h4, h5, h6{
  font-family: $font-headings;
}
nav{
  $text-font-size: 20px;
  font-size: $text-font-size;
  background-color: $clouds;
  ul{
    li{
      display: inline-block;
      a{
        display: block;
        padding: 20px;
        color: $asphalt;
        border-#{$nav-border-side}: 1px solid $asphalt;
      }
    }
  }
}
