@import 'variables';
body{
  background-color: $background-color;
  margin: 0 auto;
  color:$text-color;
  font-family: 'Francois One', sans-serif;
  font-size: 24px;
  font-weight: bold;
}
header,main,footer{
  display: block;
  box-sizing: border-box;
  margin-top: 10px;
  background-color: $foreground-color;
  color: $text-color!important;
}
.navbar .navbar-light .bg-light{
  color: $text-color;
}
.navbar-light .navbar-brand, .navbar li a{
color : $text-color;
  text-transform: uppercase;
  font-size: 25px;
}
.middle{
  max-width: 400px;
  display: block;
  margin:0 auto;
  align-content: center;
  text-align: center;
}
.heading{
  color: $heading-color;
  font-size: 25px;
  font-weight: bold;
  font-family: monospace;
  text-align: center;
  padding: 5px;
  margin:0 auto;
}

hr{
  display: block;
  border-top: 4px solid $border-color;
  width: 60px;
  opacity: 1;
}
.section{
  max-width: 700px;
  padding: 20px;
  text-align: center;
  display: block;
  margin: 0 auto;
}
.section p{
  padding: 20px;
  text-align: justify;
}
.white{
  background-color: white;
  color: inherit;
}
.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
color: $text-color;
}
